Repository amwx/FluentAvalonia, pull requests merged in 2022-10, with the labels that each got.

#210 [v2] Style improvements
  FluentAvalonia/Styling/BasicControls/DataGridStyles.axaml
  FluentAvalonia/Styling/ControlThemes/BasicControls/CheckBoxStyles.axaml
  FluentAvalonia/Styling/ControlThemes/BasicControls/ExpanderStyles.axaml
  FluentAvalonia/Styling/ControlThemes/BasicControls/ListBoxStyles.axaml
  FluentAvalonia/Styling/Core/FluentAvaloniaTheme.cs
  FluentAvalonia/Styling/Core/TextVerticalAlignmentOverride.cs
  FluentAvalonia/Styling/StylesV2/DarkResources.axaml
  FluentAvalonia/Styling/StylesV2/HighContrastResources.axaml
  FluentAvalonia/Styling/StylesV2/LightResources.axaml
Labels: enhancement, v2, styling

#211 [v2] New Control - SettingsExpander
  FluentAvalonia/Styling/ControlThemes/Controls.axaml
  FluentAvalonia/Styling/ControlThemes/FAControls/SettingsExpander/SettingsExpanderItemStyles.axaml
  FluentAvalonia/Styling/ControlThemes/FAControls/SettingsExpander/SettingsExpanderStyles.axaml
  FluentAvalonia/UI/Controls/ColorPicker/ColorPaletteItem.cs
  FluentAvalonia/UI/Controls/FABorder/BackgroundSizing.cs
  FluentAvalonia/UI/Controls/FABorder/FABorder.cs
  FluentAvalonia/UI/Controls/Internal/BorderRenderHelper.cs
  FluentAvalonia/UI/Controls/SettingsExpander/SettingsExpander.cs
  FluentAvalonia/UI/Controls/SettingsExpander/SettingsExpander.properties.cs
  FluentAvalonia/UI/Controls/SettingsExpander/SettingsExpanderItem.cs
  FluentAvalonia/UI/Controls/SettingsExpander/SettingsExpanderItem.properties.cs
  FluentAvalonia/UI/Controls/SettingsExpander/SettingsExpanderItemContainerGenerator.cs
  FluentAvalonia/UI/Controls/SettingsExpander/SettingsExpanderTemplateSettings.cs
Labels: enhancement, v2

#219 Improve system theme and accent color detection on Linux
  FluentAvalonia/Styling/Core/FluentAvaloniaTheme.cs
  FluentAvalonia/Styling/Core/LinuxThemeResolver.cs
  FluentAvaloniaSamples/App.axaml
Labels: enhancement, API, v2, styling

#217 [Feat] Enhancements to Frame navigation
  FluentAvalonia/UI/Controls/Frame/Frame.cs
  FluentAvalonia/UI/Controls/Frame/Frame.properties.cs
  FluentAvalonia/UI/Controls/Frame/INavigationPageFactory.cs
Labels: enhancement, API, v2

#224 More styling fixes
  FluentAvalonia/Styling/ControlThemes/BasicControls/TransitioningContentControlStyles.axaml
  FluentAvalonia/Styling/ControlThemes/Controls.axaml
  FluentAvalonia/Styling/ControlThemes/FAControls/TabView/TabViewStyles.axaml
Labels: v2, styling
